.container {
  cursor: pointer;
  width: 400px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 0 10px;
  }
  .imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: 400px;
    padding: 0 15px;
    @media only screen and (max-width: 600px) {
      width: 150px;
      height: 250px;
    }
  }
  .img {
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom: 10px;
    @media only screen and (max-width: 600px) {
      width: 130px;
      height: 200px;
    }
  }

  .thumbImg {
    position: relative;
    width: 30px;
    height: 50px;
    padding: 15px;
    border: 1px solid #8b645a26;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .thumbContainer {
    display: flex;
    gap: 10px;
  }

  .prodTitle {
    margin-top: 10px;
  }

  .prodPrice {
    margin-top: 10px;
    color: #763009;
  }
}
