.cw-section--dignity {
    min-height: 36.75rem;
    display: grid;
    grid-template-columns: 1fr 36.75rem;
    background-color: var(--cw-bg-secondary);

    .dignity__text-container {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        gap: 2rem;
        text-align: right;
    }

    .dignity__image-container {
        background-color: #d7d7d7;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}