.cw-section--passion {
    min-height: 36.75rem;
    max-height: 36.75rem;
    display: grid;
    grid-template-columns: 36.75rem 1fr;
    background-color: var(--cw-bg-secondary);

    @media (max-width: 768px) {
        min-height: unset;
        max-height: unset;
        grid-template-columns: 1fr;
    }

    .passion__text-container {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;

        @media (max-width: 768px) {
            padding: 8rem 1rem;
        }
    }

    .passion__image-container {
        background-color: #e3e3e3;
        max-height: 36.75rem;

        @media (max-width: 768px) {
            display: none;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
