.cw-section--smakprov {
    min-height: 36.75rem;
    display: grid;
    grid-template-columns: 36.75rem 1fr;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        min-height: unset;
        grid-template-columns: 1fr;
        margin-bottom: 0;
        grid-template-rows: auto 1fr;
    }

    .smakprov__text-container {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;

        @media (max-width: 768px) {
            padding: 1rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            
        }
    }

    .smakprov__product-container {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding: 5rem 0;

        @media (max-width: 768px) {
            margin-right: -1rem;
            margin-left: -1rem;
            padding: 0;
        }

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                content: "";
                background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
                width: 6rem;

                @media (max-width: 768px) {
                    display: none;
                }
            }

        .product-wrapper {
            overflow-x: scroll;
            display: flex;
            gap: 1rem;
            padding-right: 2rem;
            position: relative;

            @media (max-width: 768px) {
                padding-left: 2rem;
                padding-bottom: 4rem;
            }

            &::-webkit-scrollbar {
                display: none;
            }
            
            .product-item {
                flex: 1 0 auto;
                width: auto;
                border-radius: 0.5rem;
                cursor: pointer;

                .product-image-wrapper {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #e3e3e3;
                    border-radius: 0.5rem;
                    
                    .product-image-container {
                        max-width: 100%;
                        width: 18.75rem;
                        height: 21.875rem;
                        padding: 1rem;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 0.25rem;
                        }
                    }

                    .product-thumbnail-wrapper {
                        padding: 0 1rem 1rem 1rem;
                        display: flex;
                        gap: 0.5rem;
                        
                        .product-thumbnail-container {
                            height: 3.125rem;
                            width: 3.125rem;
                            border-radius: 4px;
                            border: 1px solid #e3e3e3;
                            padding: 0.5rem;
                        
                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 2px;
                            }
                        }
                    }
                }

                .product-text-container {
                    margin-top: 1rem;

                    .product-name {
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 0.10em;
                    }

                    .product-price {
                        color: var(--cw-brown-accent);
                        font-family: 'ivypresto';
                        font-size: 1.5rem;
                    }
                }
            }
        }

        p {
            font-size: 20px;
            font-weight: 600;
            opacity: 0.25;
        }
    }
}