.container {
  width: 1200px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;

  .btn {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

.link {
  text-decoration: none;
  color: #333;
}
