@font-face {
    font-family: 'ivypresto';
    font-weight: 300;
    src: url('/fonts/ivypresto_d_light.ttf');
}

@font-face {
    font-family: 'ivypresto';
    font-weight: 400;
    src: url('/fonts/ivypresto_d_reg.ttf');
}



//INTER
@font-face {
    font-family: 'Inter Display';
    font-weight: 100;
    src: url('/fonts/inter_d_thin.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 200;
    src: url('/fonts/inter_d_extralight.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 300;
    src: url('/fonts/inter_d_light.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 400;
    src: url('/fonts/inter_d_regular.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 500;
    src: url('/fonts/inter_d_medium.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 600;
    src: url('/fonts/inter_d_semibold.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 700;
    src: url('/fonts/inter_d_bold.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 800;
    src: url('/fonts/inter_d_extrabold.ttf');
}

@font-face {
    font-family: 'Inter Display';
    font-weight: 900;
    src: url('/fonts/inter_d_black.ttf');
}