header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 1;

    .header__banner {
        height: 3rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px #e3e3e3 solid;

        p {
            font-size: 0.875rem;
            color: var(--cw-brown-accent);
        }

        @media (max-width: 768px) {
            padding: 0 1rem;
            height: 3.5rem;
            text-align: center;
        }
    }

    .header__top-container {
        height: 4rem;
        background-color: white;
        transition: background-color 0.2s ease;
        // transition-delay: 0.1s;
        padding-left: calc(50vw - calc(1312px / 2));
        padding-right: calc(50vw - calc(1312px / 2));
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: 768px) {
            padding-left: 1rem;
            padding-right: 1rem;
            grid-template-columns: 1fr 1fr;
        }

        .header__logo-container {
            display: flex;
            align-items: center;

            a {
                &::after {
                    background-color: transparent;
                }
            }
            
            img {
                max-width: 6.75rem;
                transition: filter 0.2s ease;
            }
        }

        .header__navigation {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                display: none;
            }

            
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                gap: 1rem;

                li {
                    font-family: 'Inter Display';
                    color: black;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    font-weight: 600;
                    transition: color 0.2s ease;

                    a {
                        color: black;

                        &::after {
                            background-color: black;
                        }
                    }
                }
            }
        }

        .header__menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                background: var(--cw-dark-brown-accent);
                color: white;
            }

            .button-container {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                width: fit-content;
                padding: 0 0.5rem;
                height: 34px;
                display: grid;
                grid-template-rows: 34px 34px;
                align-items: center;
                justify-items: flex-start;
                overflow: hidden;
                cursor: pointer;
                
                div {
                    transition: transform 0.2s ease;
                    pointer-events: none;
                }
                
                &.open {
                    div {
                        transform: translateY(-34px);
                    }
                }
            }
        }
        
    }
    
    .header__bottom-container {
        height: 3rem;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        background-color: #8B645A;
        transition: background-color 0.2s ease;
        // transition-delay: 0.1s;
        padding-left: calc(50vw - calc(1312px / 2));
        padding-right: calc(50vw - calc(1312px / 2));
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            padding: 0;
        }
            
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                gap: 1rem;

                li {
                    font-family: 'Inter Display';
                    color: white;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    font-weight: 600;
                    transition: color 0.2s ease;

                    a {
                        color: white;

                        &::after {
                            background-color: white;
                        }
                    }
                }
            }
    }

    &.at-top {
        .header__banner {
            border: 1px solid transparent;
        }
        .header__top-container {
            background-color: transparent;

            img {
                filter: invert(1);
            }

            .header__navigation {
                ul {
                    li {
                        color: white;

                        a {
                            color: white;
    
                            &::after {
                                background-color: white;
                            }
                        }
                    }
                }
            }

            .header__menu {
                .button {
                    background-color: white;
                    color: black;
                }

                .button-container {
                    color: white;
                }
            }
        }

        .header__bottom-container {
            background-color: transparent;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);

            li {
                a {
                    color: white;

                    &::after {
                        background-color: white;
                    }
                }
            }
        }
    }

    &.scrolled {
        transform: translateY(-7rem);

        @media (max-width: 768px) {
            transform: translateY(-7.5rem);
        }
    }

    &.slide_menu--open {
        .header__top-container {
            background-color: white;
            transition-delay: 0;

            .header__logo-container {
                img {
                    filter: invert(0);
                }
            }

            .header__menu {
                .button-container {
                    color: black;
                }
            }
        }
    }

    .header__slide_menu {
        position: absolute;
        top: calc(64px + 56px);
        left: 0;
        background: white;
        transition: height 0.2s ease;
        height: 0;
        width: 100vw;

        > div {
            display: none;
            opacity: 0;
            transform: translateY(1rem);
        }

        .link-container {
            padding: 2rem 1rem;
            
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                li {
                    font-size: 18px;
                    letter-spacing: 0.10em;
                    text-transform: uppercase;
                }
            }
        }

        .sublink-container {
            padding: 2rem 1rem;
            background-color: #F9F7F7;
            
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                li {
                    font-size: 14;
                    letter-spacing: 0.10em;
                    text-transform: uppercase;

                    a {
                        color: black;

                        &::after {
                            background-color: black;
                        }
                    }
                }
            }
        }

        .button-container {
            padding: 2rem 1rem;
            
            a {
                display: block;
            }
        }
        
        &.open {
            height: calc(100dvh - 64px);

            > div {
                display: block;
                animation: contentAnimation 0.5s ease forwards;
                // animation-delay: 200ms;
            }

            .link-container {
                animation-delay: 200ms;
            }

            .sublink-container {
                animation-delay: 300ms;
            }

            .button-container {
                animation-delay: 400ms;
            }
        }

        @keyframes contentAnimation {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.cw-breadcrumbs-container {
    display: flex;
    gap: 0.5rem;
    font-family: 'Inter Display';
    font-weight: 600;
    align-items: center;
    padding-left: calc(50vw - calc(1312px / 2));
    padding-right: calc(50vw - calc(1312px / 2));
    height: 3rem;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;

    &.margin {
        margin-top: 7rem;
    }

    a {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: black;
        opacity: 0.45;

        &::after {
            background-color: black;
        }
    }

    span {
        text-transform: uppercase;
        color: black;
        font-size: 0.75rem;
    }
}