header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 1;

    // .header__banner {
    //     height: 3rem;
    //     background-color: white;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     border-bottom: 1px #e3e3e3 solid;

    //     p {
    //         font-size: 0.875rem;
    //         color: var(--cw-brown-accent);
    //     }

    //     @media (max-width: 768px) {
    //         padding: 0 1rem;
    //         height: 3.5rem;
    //         text-align: center;
    //     }
    // }

    .header__top-container {
        height: 4rem;
        background-color: white;
        transition: background-color 0.2s ease;
        // transition-delay: 0.1s;
        padding-left: calc(50vw - calc(82rem / 2));
        padding-right: calc(50vw - calc(82rem / 2));
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: 768px) {
            padding-left: 1rem;
            padding-right: 1rem;
            grid-template-columns: 1fr 1fr;
        }

        .header__logo-container {
            display: flex;
            align-items: center;

            a {
                &::after {
                    background-color: transparent;
                }
            }

            img {
                max-width: 6.75rem;
                transition: filter 0.2s ease;
            }
        }

        .header__navigation {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                display: none;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                gap: 1rem;

                li {
                    font-family: 'Inter Display';
                    color: black;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    font-weight: 600;
                    transition: color 0.2s ease;

                    a {
                        color: black;

                        &::after {
                            background-color: black;
                        }
                    }
                }
            }

            .header__search-form {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                input[type='text'] {
                    border: none;
                    border-bottom: 1px solid #e3e3e3;
                    border-radius: 0;
                    padding: 0.5rem 0.75rem;
                    padding-left: 0;
                    font-size: 0.875rem;
                    width: 25rem;
                    height: 2.5625rem;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .header__menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.5rem;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                flex-wrap: nowrap;
            }

            .header__search {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                svg {
                    fill: black;
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }

            .menu-divider {
                width: 1px;
                height: 32px;
                background: rgba(0, 0, 0, 0.25);
                margin-left: 0.5rem;
            }

            .language-switcher-container {
                display: flex;
                text-decoration: none;
                align-items: center;
                gap: 0.35rem;
                color: white;
                // margin-left: 1rem;
                filter: invert(1);

                .locale-text {
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: white;
                }

                @media (max-width: 768px) {
                    order: -1;
                }
            }

            .button-container {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                width: fit-content;
                padding: 0 0.5rem;
                height: 34px;
                display: grid;
                grid-template-rows: 34px 34px;
                align-items: center;
                justify-items: flex-start;
                overflow: hidden;
                cursor: pointer;

                div {
                    transition: transform 0.2s ease;
                    pointer-events: none;
                }

                &.open {
                    div {
                        transform: translateY(-34px);
                    }
                }
            }
        }
    }

    .header__bottom-container {
        height: 3rem;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        background-color: #8b645a;
        transition: background-color 0.2s ease;
        // transition-delay: 0.1s;
        padding-left: calc(50vw - calc(1312px / 2));
        padding-right: calc(50vw - calc(1312px / 2));
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            padding: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 1rem;

            li {
                font-family: 'Inter Display';
                color: white;
                text-transform: uppercase;
                font-size: 0.75rem;
                font-weight: 600;
                transition: color 0.2s ease;

                a {
                    color: white;

                    &::after {
                        background-color: white;
                    }
                }
            }
        }
    }

    &.at-top {
        .header__top-container {
            background-color: transparent;

            img {
                filter: invert(1);
            }

            .header__navigation {
                ul {
                    li {
                        color: white;

                        a {
                            color: white;

                            &::after {
                                background-color: white;
                            }
                        }
                    }
                }
            }

            .header__menu {
                .menu-divider {
                    background: rgba(255, 255, 255, 0.25);
                }

                .language-switcher-container {
                    filter: invert(0);
                }

                .button {
                    background-color: white;
                    color: black;
                }

                .button-container {
                    color: white;
                }

                svg {
                    fill: white;
                }
            }
        }

        .header__bottom-container {
            background-color: transparent;
            // border-top: 1px solid rgba(255, 255, 255, 0.1);
            // border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            li {
                a {
                    color: white;

                    &::after {
                        background-color: white;
                    }
                }
            }
        }
    }

    &.scrolled {
        transform: translateY(-7rem);

        @media (max-width: 768px) {
            transform: translateY(-7.5rem);
        }
    }

    &.slide_menu--open {
        .header__top-container {
            background-color: white;
            transition-delay: 0;

            .header__logo-container {
                img {
                    filter: invert(0);
                }
            }

            .header__menu {
                .menu-divider {
                    background: rgba(0, 0, 0, 0.25);
                }

                .language-switcher-container {
                    filter: invert(1);
                }

                .button-container {
                    color: black;
                }
            }
        }
    }

    .header__slide_menu {
        position: absolute;
        top: 64px;
        left: 0;
        background: white;
        transition: height 0.2s ease;
        height: 0;
        width: 100vw;

        > div {
            display: none;
            opacity: 0;
            transform: translateY(1rem);
        }

        .search-container {
            .header__search-form {
                display: flex;
                padding: 0.5rem 1rem;
                padding-bottom: 1rem;
                align-items: center;
                border-bottom: 1px solid #e3e3e3;
                transition: border-bottom 0.2s ease;

                input {
                    width: 100%;
                    border: none;
                    font-family: 'Inter Display';
                    font-size: 16px;
                    padding: 0 1rem;

                    &:focus {
                        outline: none;
                    }
                }

                &:focus-within {
                    border-bottom: 1px solid var(--cw-brown-accent);
                }
            }
        }

        .link-container {
            padding: 2rem 1rem;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                li {
                    font-size: 18px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }
        }

        .sublink-container {
            padding: 2rem 1rem;
            background-color: #f9f7f7;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                li {
                    font-size: 14;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;

                    a {
                        color: black;

                        &::after {
                            background-color: black;
                        }
                    }
                }
            }
        }

        .button-container {
            padding: 2rem 1rem;

            a {
                display: block;
            }
        }

        &.open {
            height: calc(100dvh - 64px);

            > div {
                display: block;
                animation: contentAnimation 0.5s ease forwards;
                // animation-delay: 200ms;
            }

            .link-container {
                animation-delay: 200ms;
            }

            .sublink-container {
                animation-delay: 300ms;
            }

            .button-container {
                animation-delay: 400ms;
            }
        }

        @keyframes contentAnimation {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.cw-breadcrumbs-container {
    display: flex;
    gap: 0.5rem;
    font-family: 'Inter Display';
    font-weight: 600;
    align-items: center;
    padding-left: calc(50vw - calc(37rem));
    padding-right: calc(50vw - calc(37rem));
    height: 3rem;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    // max-width: 1184px;
    // margin: auto;

    @media (max-width: 1312px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media (max-width: 768px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &.padding {
        // padding-left: calc(50vw - calc(1312px / 2) + 4rem);
        // padding-right: calc(50vw - calc(1312px / 2) + 4rem);
    }

    &.margin {
        margin-top: 7rem;
    }

    a {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: black;
        opacity: 0.45;

        &::after {
            background-color: black;
        }
    }

    span {
        text-transform: uppercase;
        color: black;
        font-size: 0.75rem;
    }
}
