@use './variables.scss' as *;
@use './typography.scss' as *;
@use './utilities.scss' as *;
@use './cw_grid.scss' as *;
@use './sections.scss' as *;
@use './header.scss' as *;
@use './buttons.scss' as *;

html {
    font-size: 16px;

    @media (min-width: 1920px) {
        font-size: 16px;
    }

    @media (max-width: 1312px) {
        font-size: 1.12vw;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        touch-action: pan-y;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter Display';
    color: var(--cw-dark-brown-accent);
    background-color: var(--cw-bg-color);
    overscroll-behavior: none;
}