.productlist-subcategory-container {
    display: flex;
    gap: 0.5rem;

    @media (max-width: 768px) {
        margin-top: 1rem;
        max-width: 100vw;
        overflow-x: scroll;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 0 1rem;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.productlist-container {
    gap: 2rem;

    .product-description-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .title {
            font-size: 0.875rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.10em;
            position: relative;

            &::after {
                width: 2rem;
                height: 1px;
                background: #e3e3e3;
                top: -1rem;
                left: -1rem;
                content: "";
                position: absolute;
            }

            &::before {
                width: 1px;
                height: 2rem;
                background: #e3e3e3;
                top: -1rem;
                left: -1rem;
                content: "";
                position: absolute;
            }

            &.no-lines {
                margin-top: 0.5rem;
                display: block;
                float: inline-end;
                color: var(--cw-brown-accent);
                &::before, &::after {
                    display: none;
                }
            }
        }

        .description, .description-mobile {
            font-size: 0.875rem;
            line-height: 1.5;
            white-space: pre-line;
            position: relative;

            &::after {
                width: 2rem;
                height: 1px;
                background: #e3e3e3;
                bottom: -1rem;
                right: -1rem;
                content: "";
                position: absolute;
            }

            &::before {
                width: 1px;
                height: 2rem;
                background: #e3e3e3;
                bottom: -1rem;
                right: -1rem;
                content: "";
                position: absolute;
            }
        }
        
        .description  {
            @media (max-width: 768px) {
                display: none;
            }
        }

        .description-mobile {
            @media (min-width: 768px) {
                display: none;
            }
        }

    }

    .product-item-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .images-container {
            display: flex;
            flex-direction: column;
            border: 1px solid #e3e3e3;
            border-radius: 0.5rem;
            padding: 1rem;
            gap: 1rem;

            .image-container {
                aspect-ratio: 3 / 4;
                overflow: hidden;

                img {
                    height: 100%;
                    border-radius: 0.25rem;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .thumbnail-container {
                display: flex;
                gap: 0.25rem;

                .thumbnail-item-container {
                    width: 3.4375rem;
                    height: 3.4375rem;
                    padding: 0.5rem;
                    border: 1px solid #e3e3e3;
                    border-radius: 0.25rem;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .item-info-container {
            display: flex;
            flex-direction: column;

            .title {
                font-size: .875rem;
                font-weight: 500;
                letter-spacing: .1em;
                text-transform: uppercase;
            }

            .price {
                color: var(--cw-brown-accent);
                font-size: 1.5rem;
                font-family: ivypresto;
            }
        }
    }
}

.product-counter {
    border-bottom: 1px solid #e3e3e3;
    color: var(--cw-brown-accent);
    padding-bottom: 0.5rem;
}