@use './sections/hero.scss' as *;
@use './sections/passion.scss' as *;
@use './sections/dignity.scss' as *;
@use './sections/smakprov.scss' as *;
@use './sections/categorybuttons.scss' as *;
@use './sections/stickyabout.scss' as *;
@use './sections/newslist.scss' as *;
@use './sections/butiker.scss' as *;

section {
  max-width: 82rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: auto;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    overflow: hidden;
  }

  &.full-width {
    padding-left: calc(50vw - calc(82rem / 2));
    padding-right: calc(50vw - calc(82rem / 2));
    margin: unset;
    max-width: unset;
  }

  &.no-padding {
    margin: unset;
    max-width: unset;
    width: 100%;
  }

  &.padding-left {
    max-width: unset;
    padding-left: calc(50vw - calc(82rem / 2));
    padding-right: 0;
    margin: unset;
  }

  &.padding-right {
    max-width: unset;
    padding-right: calc(50vw - calc(82rem / 2));
    padding-left: 0;
    margin: unset;
  }
}
